GuideWatchServicesWebClient/xml-resources/web-service-references/RistoranteEJB/wsdl/localhost_8080/RistoranteEJBService/RistoranteEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ristoranti/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ristoranti/" name="RistoranteEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ristoranti/" schemaLocation="http://localhost:8080/RistoranteEJBService/RistoranteEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="findByGuida">
<part name="parameters" element="tns:findByGuida"/>
</message>
<message name="findByGuidaResponse">
<part name="parameters" element="tns:findByGuidaResponse"/>
</message>
<message name="findByCittà">
<part name="parameters" element="tns:findByCittà"/>
</message>
<message name="findByCittàResponse">
<part name="parameters" element="tns:findByCittàResponse"/>
</message>
<message name="creaRistorante">
<part name="parameters" element="tns:creaRistorante"/>
</message>
<message name="creaRistoranteResponse">
<part name="parameters" element="tns:creaRistoranteResponse"/>
</message>
<message name="findByID">
<part name="parameters" element="tns:findByID"/>
</message>
<message name="findByIDResponse">
<part name="parameters" element="tns:findByIDResponse"/>
</message>
<message name="eliminaRistorante">
<part name="parameters" element="tns:eliminaRistorante"/>
</message>
<message name="eliminaRistoranteResponse">
<part name="parameters" element="tns:eliminaRistoranteResponse"/>
</message>
<message name="numRistorantiByGuida">
<part name="parameters" element="tns:numRistorantiByGuida"/>
</message>
<message name="numRistorantiByGuidaResponse">
<part name="parameters" element="tns:numRistorantiByGuidaResponse"/>
</message>
<message name="numRistorantiAncoraInGuida">
<part name="parameters" element="tns:numRistorantiAncoraInGuida"/>
</message>
<message name="numRistorantiAncoraInGuidaResponse">
<part name="parameters" element="tns:numRistorantiAncoraInGuidaResponse"/>
</message>
<message name="aggiornaRistorante">
<part name="parameters" element="tns:aggiornaRistorante"/>
</message>
<message name="aggiornaRistoranteResponse">
<part name="parameters" element="tns:aggiornaRistoranteResponse"/>
</message>
<portType name="RistoranteEJB">
<operation name="getAll">
<input wsam:Action="http://ristoranti/RistoranteEJB/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="findByGuida">
<input wsam:Action="http://ristoranti/RistoranteEJB/findByGuidaRequest" message="tns:findByGuida"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/findByGuidaResponse" message="tns:findByGuidaResponse"/>
</operation>
<operation name="findByCittà">
<input wsam:Action="http://ristoranti/RistoranteEJB/findByCittàRequest" message="tns:findByCittà"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/findByCittàResponse" message="tns:findByCittàResponse"/>
</operation>
<operation name="creaRistorante">
<input wsam:Action="http://ristoranti/RistoranteEJB/creaRistoranteRequest" message="tns:creaRistorante"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/creaRistoranteResponse" message="tns:creaRistoranteResponse"/>
</operation>
<operation name="findByID">
<input wsam:Action="http://ristoranti/RistoranteEJB/findByIDRequest" message="tns:findByID"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/findByIDResponse" message="tns:findByIDResponse"/>
</operation>
<operation name="eliminaRistorante">
<input wsam:Action="http://ristoranti/RistoranteEJB/eliminaRistoranteRequest" message="tns:eliminaRistorante"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/eliminaRistoranteResponse" message="tns:eliminaRistoranteResponse"/>
</operation>
<operation name="numRistorantiByGuida">
<input wsam:Action="http://ristoranti/RistoranteEJB/numRistorantiByGuidaRequest" message="tns:numRistorantiByGuida"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/numRistorantiByGuidaResponse" message="tns:numRistorantiByGuidaResponse"/>
</operation>
<operation name="numRistorantiAncoraInGuida">
<input wsam:Action="http://ristoranti/RistoranteEJB/numRistorantiAncoraInGuidaRequest" message="tns:numRistorantiAncoraInGuida"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/numRistorantiAncoraInGuidaResponse" message="tns:numRistorantiAncoraInGuidaResponse"/>
</operation>
<operation name="aggiornaRistorante">
<input wsam:Action="http://ristoranti/RistoranteEJB/aggiornaRistoranteRequest" message="tns:aggiornaRistorante"/>
<output wsam:Action="http://ristoranti/RistoranteEJB/aggiornaRistoranteResponse" message="tns:aggiornaRistoranteResponse"/>
</operation>
</portType>
<binding name="RistoranteEJBPortBinding" type="tns:RistoranteEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByGuida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCittà">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaRistorante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaRistorante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numRistorantiByGuida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numRistorantiAncoraInGuida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaRistorante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RistoranteEJBService">
<port name="RistoranteEJBPort" binding="tns:RistoranteEJBPortBinding">
<soap:address location="http://localhost:8080/RistoranteEJBService/RistoranteEJB"/>
</port>
</service>
</definitions>